In [13]:
# Dependencies
import requests
import time
from dotenv import load_dotenv
import os
import pandas as pd
import json

# Set environment variables from the .env in the local environment
load_dotenv()

True

In [15]:
# Read in the NASDAQ data.
ndx_df = pd.read_csv("data/NDX.csv", parse_da)
display(ndx_df.head())
display(ndx_df.info())

,Date,Open,High,Low,Close,Adj Close,Volume
0,2019-04-11,7621.399902,7621.399902,7580.709961,7594.890137,7594.890137,1969480000
1,2019-04-12,7624.149902,7630.520020,7596.560059,7628.149902,7628.149902,1968900000
2,2019-04-15,7630.600098,7636.799805,7578.540039,7629.120117,7629.120117,1827710000
3,2019-04-16,7651.189941,7670.399902,7631.640137,7654.729980,7654.729980,2102740000
4,2019-04-17,7705.319824,7715.069824,7659.850098,7680.720215,7680.720215,2317330000

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1258 entries, 0 to 1257
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       1258 non-null   object
 1   Open       1258 non-null   float64
 2   High       1258 non-null   float64
 3   Low        1258 non-null   float64
 4   Close      1258 non-null   float64
 5   Adj Close  1258 non-null   float64
 6   Volume     1258 non-null   int64
dtypes: float64(5), int64(1), object(1)
memory usage: 68.9+ KB

None

In [ ]:

econ_2019_df = pd.read_csv("data/us_economy_headlines_2019.csv")
#econ_2020_df = pd.read_csv("data/us_economy_headlines_2020.csv")
#econ_2021_df = pd.read_csv("data/us_economy_headlines_2021.csv")
#econ_2022_df = pd.read_csv("data/us_economy_headlines_2022.csv")
#econ_2023_df = pd.read_csv("data/us_economy_headlines_2023.csv")
#econ_2024_df = pd.read_csv("data/us_economy_headlines_2024.csv")


display(econ_2019_df.head())
display(econ_2019_df.info())

In [9]:
# Get a small sample of the dataset for testing and development
#sample_df = ndx_df.head(25)
#sample_df["Headlines"] = sample_df["Date"].apply(get_todays_headlines)
#sample_df.head()

# Add a headlines column to the dataframe
#ndx_df["Headlines"] = ndx_df["Date"].apply(get_todays_headlines)
#ndx_df.head(20)