In [1]:
# Import Libraries and Dependencies
import pandas as pd

### 1. Combine and Clean the Data
#### Import data

In [3]:
# Read the CSV files into DataFrames.
ndx_df = pd.read_csv("data/NDX.csv")
ndx_df.head()

,Date,Open,High,Low,Close,Adj Close,Volume
0,2019-04-11,7621.399902,7621.399902,7580.709961,7594.890137,7594.890137,1969480000
1,2019-04-12,7624.149902,7630.520020,7596.560059,7628.149902,7628.149902,1968900000
2,2019-04-15,7630.600098,7636.799805,7578.540039,7629.120117,7629.120117,1827710000
3,2019-04-16,7651.189941,7670.399902,7631.640137,7654.729980,7654.729980,2102740000
4,2019-04-17,7705.319824,7715.069824,7659.850098,7680.720215,7680.720215,2317330000