In [13]:
# Dependencies
import requests
import time
from dotenv import load_dotenv
import os
import pandas as pd
import json

# Set environment variables from the .env in the local environment
load_dotenv()

True

In [20]:
# Read in the NASDAQ data
ndx_df = pd.read_csv("data/NDX.csv", parse_dates=["Date"], date_format="%Y-%m-%d")
display(ndx_df.info())
display(ndx_df.head(1))

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1258 entries, 0 to 1257
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       1258 non-null   datetime64[ns]
 1   Open       1258 non-null   float64
 2   High       1258 non-null   float64
 3   Low        1258 non-null   float64
 4   Close      1258 non-null   float64
 5   Adj Close  1258 non-null   float64
 6   Volume     1258 non-null   int64
dtypes: datetime64[ns](1), float64(5), int64(1)
memory usage: 68.9 KB

None

,Date,Open,High,Low,Close,Adj Close,Volume
0,2019-04-11,7621.399902,7621.399902,7580.709961,7594.890137,7594.890137,1969480000

In [31]:
# Read in the 2019 US Economy Headlines
econ_2019_df = pd.read_csv("data/us_economy_headlines_2019.csv")
display(econ_2019_df.info())
display(econ_2019_df.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 230 entries, 0 to 229
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   datetime  230 non-null    object
 1   headline  230 non-null    object
 2   keywords  230 non-null    object
dtypes: object(3)
memory usage: 5.5+ KB

None

,datetime,headline,keywords
0,2019-08-17T10:27:08+0000,Is a New Recession Imminent? Here’s How One Co...,"[United States Economy,Recession and Depressio..."
1,2019-01-17T00:15:01+0000,"In Small Towns, Shutdown Has Ripple Effects","[United States Politics and Government,Governm..."
2,2019-08-01T17:44:59+0000,Trump Escalates Fight Over Trade With the Chinese,"[Customs (Tariff),International Trade and Worl..."
3,2019-10-10T09:00:14+0000,A Steady Paycheck Is Good Medicine for Communi...,"[Labor and Jobs,Income Inequality,Gangs,Urban ..."
4,2019-03-15T19:34:32+0000,Capitalism Needs Elizabeth Warren,"[United States Economy,Income Inequality,Presi..."

In [32]:
# Read in the 2020 US Economy Headlines
econ_2020_df = pd.read_csv("data/us_economy_headlines_2020.csv")
display(econ_2020_df.info())
display(econ_2020_df.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   datetime  400 non-null    object
 1   headline  400 non-null    object
 2   keywords  400 non-null    object
dtypes: object(3)
memory usage: 9.5+ KB

None

,datetime,headline,keywords
0,2020-03-24T15:53:24+0000,Aid Deal Near as Trump Pushes to Ease Limits,"[Coronavirus (2019-nCoV),Stimulus (Economic),U..."
1,2020-11-14T14:33:29+0000,"Even Before Biden Takes Office, He Faces Quand...","[United States Economy,Stimulus (Economic),Cor..."
2,2020-11-16T10:00:22+0000,Toxic Tussle With China Awaits Biden,"[United States International Relations,Interna..."
3,2020-08-03T19:40:23+0000,Rescue of Kansas Company Tied To White House D...,"[United States Economy,Coronavirus Aid, Relief..."
4,2020-04-09T13:07:59+0000,‘It’s Terrifying’: Millions More Out Of Work,"[Coronavirus (2019-nCoV),United States Economy..."

In [33]:
# Read in the 2021 US Economy Headlines
econ_2021_df = pd.read_csv("data/us_economy_headlines_2021.csv")
display(econ_2021_df.info())
display(econ_2021_df.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 367 entries, 0 to 366
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   datetime  367 non-null    object
 1   headline  367 non-null    object
 2   keywords  367 non-null    object
dtypes: object(3)
memory usage: 8.7+ KB

None

,datetime,headline,keywords
0,2021-04-29T09:00:30+0000,"The Price Is Right, And Rising","[United States Economy,Prices (Fares, Fees and..."
1,2021-06-04T23:07:11+0000,Biden Says Benefits End In 90 Days,"[Unemployment Insurance,United States Economy,..."
2,2021-06-18T16:38:06+0000,Unease on Wall Street Stretches to a Fourth Day,"[Stocks and Bonds,United States Economy,Standa..."
3,2021-06-30T07:00:11+0000,Fed Officials Less in Step As Costs Rise,"[Inflation (Economics),United States Economy,I..."
4,2021-07-02T09:06:23+0000,Hiring Increases and Wages Jump as U.S. Rebounds,"[United States Economy,Labor and Jobs,Wages an..."

In [34]:
# Read in the 2022 US Economy Headlines
econ_2022_df = pd.read_csv("data/us_economy_headlines_2022.csv")
display(econ_2022_df.info())
display(econ_2022_df.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 332 entries, 0 to 331
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   datetime  332 non-null    object
 1   headline  332 non-null    object
 2   keywords  332 non-null    object
dtypes: object(3)
memory usage: 7.9+ KB

None

,datetime,headline,keywords
0,2022-01-25T10:00:23+0000,Timing of Fed Policy Pivot Nettles Critics,"[United States Economy,Inflation (Economics),I..."
1,2022-11-10T10:05:10+0000,Inflation Starting to Taper In Positive Sign f...,"[United States Economy,Inflation (Economics),C..."
2,2022-07-11T21:23:44+0000,"As Prices Rise, Rental Market Is Hard to Exit","[Renting and Leasing (Real Estate),Real Estate..."
3,2022-06-29T09:00:43+0000,House Sales Have Cooled Significantly In Just ...,"[Real Estate and Housing (Residential),Mortgag..."
4,2022-09-27T15:17:26+0000,"With Rents Quickly Rising, How Are Landlords ...","[Landlords,Prices (Fares, Fees and Rates),Rent..."

In [35]:
# Read in the 2023 US Economy Headlines
econ_2023_df = pd.read_csv("data/us_economy_headlines_2023.csv")
display(econ_2023_df.info())
display(econ_2023_df.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 263 entries, 0 to 262
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   datetime  263 non-null    object
 1   headline  263 non-null    object
 2   keywords  263 non-null    object
dtypes: object(3)
memory usage: 6.3+ KB

None

,datetime,headline,keywords
0,2023-03-22T22:56:22+0000,Policymakers To Consider Tighter Rules,"[Regulation and Deregulation of Industry,Banki..."
1,2023-03-16T16:31:12+0000,Low Rates Are Over. Now What?,"[Interest Rates,Banking and Financial Institut..."
2,2023-01-06T08:00:13+0000,How Even a Soft Landing May Have Its Downside,"[United States Economy,Recession and Depressio..."
3,2023-01-20T10:00:38+0000,New Orleans Port Positions Itself For a Reord...,"[Ports,Economic Conditions and Trends,Internat..."
4,2023-07-17T18:20:03+0000,"Jobs Have Roared Back, But Is Trend Sustainable?","[Banking and Financial Institutions,Labor and ..."

In [36]:
# Read in the 2024 US Economy Headlines
econ_2024_df = pd.read_csv("data/us_economy_headlines_2024.csv")
display(econ_2024_df.info())
display(econ_2024_df.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 55 entries, 0 to 54
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   datetime  55 non-null     object
 1   headline  55 non-null     object
 2   keywords  55 non-null     object
dtypes: object(3)
memory usage: 1.4+ KB

None

,datetime,headline,keywords
0,2024-03-05T10:36:33+0000,"Better Mood On Economy, Not for Biden","[Polls and Public Opinion,United States Econom..."
1,2024-03-20T09:06:22+0000,Federal Reserve Leaves Interest Rates Unchanged,"[Interest Rates,United States Economy,Inflatio..."
2,2024-02-05T10:01:45+0000,Why Are Americans Anxious in Spite Of a Good ...,"[United States Economy,Presidential Election o..."
3,2024-01-19T21:11:26+0000,Stock Market Climbs to a New Height,"[Standard & Poor's 500-Stock Index,Banking and..."
4,2024-04-05T09:35:34+0000,"Labor Market Remains Hot As U.S. Adds 303,000...","[Labor and Jobs,United States Economy,Wages an..."