In [14]:
# Dependencies
import requests
import time
import os
import pandas as pd
import json

In [29]:
# Built this function to turn the data read in by the NYT data into lists objects.
def listify(l) : 
    l = l.replace('[','')
    l = l.replace(']','')
    return l.split('|')

def get_top5(df) : 

    # expand the keywords list to individual rows, then take the value counts
    top3 = df.explode("keywords").value_counts("keywords").head(6)

    # Dropping the top row because it will always be "United States Economy"
    top3.drop(top3.index[0],inplace=True) 

    return top3

In [30]:
# Read in the NASDAQ data
ndx_df = pd.read_csv("data/NDX.csv", parse_dates=["Date"], date_format="%Y-%m-%d")
display(ndx_df.info())
display(ndx_df.head(1))

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1258 entries, 0 to 1257
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       1258 non-null   datetime64[ns]
 1   Open       1258 non-null   float64
 2   High       1258 non-null   float64
 3   Low        1258 non-null   float64
 4   Close      1258 non-null   float64
 5   Adj Close  1258 non-null   float64
 6   Volume     1258 non-null   int64
dtypes: datetime64[ns](1), float64(5), int64(1)
memory usage: 68.9 KB

None

,Date,Open,High,Low,Close,Adj Close,Volume
0,2019-04-11,7621.399902,7621.399902,7580.709961,7594.890137,7594.890137,1969480000

In [17]:
# Read in the 2019 US Economy Headlines
econ_2019_df = pd.read_csv("data/us_economy_headlines_2019.csv")
econ_2019_df["keywords"] = econ_2019_df["keywords"].apply(listify)

display(econ_2019_df.info())
display(econ_2019_df.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 230 entries, 0 to 229
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   datetime  230 non-null    object
 1   headline  230 non-null    object
 2   keywords  230 non-null    object
dtypes: object(3)
memory usage: 5.5+ KB

None

,datetime,headline,keywords
0,2019-08-17T10:27:08+0000,Is a New Recession Imminent? Here’s How One Co...,"[United States Economy, Recession and Depressi..."
1,2019-01-17T00:15:01+0000,"In Small Towns, Shutdown Has Ripple Effects","[United States Politics and Government, Govern..."
2,2019-08-01T17:44:59+0000,Trump Escalates Fight Over Trade With the Chinese,"[Customs (Tariff), International Trade and Wor..."
3,2019-10-10T09:00:14+0000,A Steady Paycheck Is Good Medicine for Communi...,"[Labor and Jobs, Income Inequality, Gangs, Urb..."
4,2019-03-15T19:34:32+0000,Capitalism Needs Elizabeth Warren,"[United States Economy, Income Inequality, Pre..."

In [18]:
# Read in the 2020 US Economy Headlines
econ_2020_df = pd.read_csv("data/us_economy_headlines_2020.csv")
econ_2020_df["keywords"] = econ_2020_df["keywords"].apply(listify)

display(econ_2020_df.info())
display(econ_2020_df.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   datetime  400 non-null    object
 1   headline  400 non-null    object
 2   keywords  400 non-null    object
dtypes: object(3)
memory usage: 9.5+ KB

None

,datetime,headline,keywords
0,2020-03-24T15:53:24+0000,Aid Deal Near as Trump Pushes to Ease Limits,"[Coronavirus (2019-nCoV), Stimulus (Economic),..."
1,2020-11-14T14:33:29+0000,"Even Before Biden Takes Office, He Faces Quand...","[United States Economy, Stimulus (Economic), C..."
2,2020-11-16T10:00:22+0000,Toxic Tussle With China Awaits Biden,"[United States International Relations, Intern..."
3,2020-08-03T19:40:23+0000,Rescue of Kansas Company Tied To White House D...,"[United States Economy, Coronavirus Aid, Relie..."
4,2020-04-09T13:07:59+0000,‘It’s Terrifying’: Millions More Out Of Work,"[Coronavirus (2019-nCoV), United States Econom..."

In [19]:
# Read in the 2021 US Economy Headlines
econ_2021_df = pd.read_csv("data/us_economy_headlines_2021.csv")
econ_2021_df["keywords"] = econ_2021_df["keywords"].apply(listify)

display(econ_2021_df.info())
display(econ_2021_df.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 367 entries, 0 to 366
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   datetime  367 non-null    object
 1   headline  367 non-null    object
 2   keywords  367 non-null    object
dtypes: object(3)
memory usage: 8.7+ KB

None

,datetime,headline,keywords
0,2021-04-29T09:00:30+0000,"The Price Is Right, And Rising","[United States Economy, Prices (Fares, Fees an..."
1,2021-06-04T23:07:11+0000,Biden Says Benefits End In 90 Days,"[Unemployment Insurance, United States Economy..."
2,2021-06-18T16:38:06+0000,Unease on Wall Street Stretches to a Fourth Day,"[Stocks and Bonds, United States Economy, Stan..."
3,2021-06-30T07:00:11+0000,Fed Officials Less in Step As Costs Rise,"[Inflation (Economics), United States Economy,..."
4,2021-07-02T09:06:23+0000,Hiring Increases and Wages Jump as U.S. Rebounds,"[United States Economy, Labor and Jobs, Wages ..."

In [20]:
# Read in the 2022 US Economy Headlines
econ_2022_df = pd.read_csv("data/us_economy_headlines_2022.csv")
econ_2022_df["keywords"] = econ_2022_df["keywords"].apply(listify)

display(econ_2022_df.info())
display(econ_2022_df.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 332 entries, 0 to 331
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   datetime  332 non-null    object
 1   headline  332 non-null    object
 2   keywords  332 non-null    object
dtypes: object(3)
memory usage: 7.9+ KB

None

,datetime,headline,keywords
0,2022-01-25T10:00:23+0000,Timing of Fed Policy Pivot Nettles Critics,"[United States Economy, Inflation (Economics),..."
1,2022-11-10T10:05:10+0000,Inflation Starting to Taper In Positive Sign f...,"[United States Economy, Inflation (Economics),..."
2,2022-07-11T21:23:44+0000,"As Prices Rise, Rental Market Is Hard to Exit","[Renting and Leasing (Real Estate), Real Estat..."
3,2022-06-29T09:00:43+0000,House Sales Have Cooled Significantly In Just ...,"[Real Estate and Housing (Residential), Mortga..."
4,2022-09-27T15:17:26+0000,"With Rents Quickly Rising, How Are Landlords ...","[Landlords, Prices (Fares, Fees and Rates), Re..."

In [21]:
# Read in the 2023 US Economy Headlines
econ_2023_df = pd.read_csv("data/us_economy_headlines_2023.csv")
econ_2023_df["keywords"] = econ_2023_df["keywords"].apply(listify)

display(econ_2023_df.info())
display(econ_2023_df.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 263 entries, 0 to 262
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   datetime  263 non-null    object
 1   headline  263 non-null    object
 2   keywords  263 non-null    object
dtypes: object(3)
memory usage: 6.3+ KB

None

,datetime,headline,keywords
0,2023-03-22T22:56:22+0000,Policymakers To Consider Tighter Rules,"[Regulation and Deregulation of Industry, Bank..."
1,2023-03-16T16:31:12+0000,Low Rates Are Over. Now What?,"[Interest Rates, Banking and Financial Institu..."
2,2023-01-06T08:00:13+0000,How Even a Soft Landing May Have Its Downside,"[United States Economy, Recession and Depressi..."
3,2023-01-20T10:00:38+0000,New Orleans Port Positions Itself For a Reord...,"[Ports, Economic Conditions and Trends, Intern..."
4,2023-07-17T18:20:03+0000,"Jobs Have Roared Back, But Is Trend Sustainable?","[Banking and Financial Institutions, Labor and..."

In [22]:
# Read in the 2024 US Economy Headlines
econ_2024_df = pd.read_csv("data/us_economy_headlines_2024.csv")
econ_2024_df["keywords"] = econ_2024_df["keywords"].apply(listify)

display(econ_2024_df.info())
display(econ_2024_df.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 59 entries, 0 to 58
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   datetime  59 non-null     object
 1   headline  59 non-null     object
 2   keywords  59 non-null     object
dtypes: object(3)
memory usage: 1.5+ KB

None

,datetime,headline,keywords
0,2024-04-12T11:37:47+0000,JPMorgan May Face Headwinds,"[Banking and Financial Institutions, United St..."
1,2024-03-05T10:36:33+0000,"Better Mood On Economy, Not for Biden","[Polls and Public Opinion, United States Econo..."
2,2024-03-20T09:06:22+0000,Federal Reserve Leaves Interest Rates Unchanged,"[Interest Rates, United States Economy, Inflat..."
3,2024-02-05T10:01:45+0000,Why Are Americans Anxious in Spite Of a Good ...,"[United States Economy, Presidential Election ..."
4,2024-01-19T21:11:26+0000,Stock Market Climbs to a New Height,"[Standard & Poor's 500-Stock Index, Banking an..."

In [28]:
# What are the top five keywords for each year
top5_2019 = get_top5(econ_2019_df)
top5_2020 = get_top5(econ_2020_df)
top5_2021 = get_top5(econ_2021_df)
top5_2022 = get_top5(econ_2022_df)
top5_2023 = get_top5(econ_2023_df)
top5_2024 = get_top5(econ_2024_df)

print("2019")
display(top5_2019)

print("2020")
display(top5_2020)

print("2021")
display(top5_2021)

print("2022")
display(top5_2022)

print("2023")
display(top5_2023)

print("2024")
display(top5_2024)

2019

keywords
United States Politics and Government    114
International Trade and World Market     107
Customs (Tariff)                          70
Interest Rates                            65
United States International Relations     57
Name: count, dtype: int64

2020

keywords
Coronavirus (2019-nCoV)                                      319
United States Politics and Government                        176
Coronavirus Aid, Relief, and Economic Security Act (2020)    142
Unemployment                                                 126
Labor and Jobs                                               109
Name: count, dtype: int64

2021

keywords
United States Politics and Government    192
Coronavirus (2019-nCoV)                  139
Labor and Jobs                           126
Inflation (Economics)                    107
Stimulus (Economic)                       95
Name: count, dtype: int64

2022

keywords
Inflation (Economics)                    215
Prices (Fares, Fees and Rates)           136
Interest Rates                           124
United States Politics and Government     78
Labor and Jobs                            73
Name: count, dtype: int64

2023

keywords
Inflation (Economics)                    128
Interest Rates                           110
United States Politics and Government     71
Labor and Jobs                            68
Banking and Financial Institutions        59
Name: count, dtype: int64

2024

keywords
Inflation (Economics)                    30
Interest Rates                           28
Prices (Fares, Fees and Rates)           22
Labor and Jobs                           19
United States Politics and Government    15
Name: count, dtype: int64